.o-select {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  &::before,
  &::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }

  &::after {
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    color: #FFF;
    line-height: 1;
    top: 50%;
    right: 1.2em;
    margin-top: -.5em;
  }

  &::before {
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #e8107c;
  }

  &__input {
    background-color: #f0e6eb;
    border-radius: 3px;
    font-size: inherit;
    padding: .5em;
    border: 0;
    padding-right: 2.5em;
    margin: 0;
    text-indent: 0.01px;
    text-overflow: '';
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    &::-ms-expand {
      display: none;
    }

    &:focus {
      outline: 1px solid red;
      outline-offset: -1px;
    }

  }

  &__option {}
}
