//import "scss/utils";
@import "scss/utils";

.o-label {

  &--left {
    padding-right: .45em;
  }
}

.o-form-fields {
  padding: 10px;
  margin: 0 0 25px;

  &__title {
    margin-top: 0;
  }
}

.o-select {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  // border: 1px solid purple;

  // margin: 25px;


  &::before,
  &::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }

  &::after {
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    color: #FFF;
    line-height: 1;
    top: 50%;
    right: 1.2em;
    margin-top: -.5em;
  }

  &::before {
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #e8107c;
  }

  &__input {
    background-color: #f0e6eb;
    border-radius: 3px;
    font-size: inherit;
    padding: .5em;
    border: 0;
    padding-right: 2.5em;
    margin: 0;
    text-indent: 0.01px;
    text-overflow: '';
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    &::-ms-expand {
      display: none;
    }

    &:focus {
      outline: 1px solid red;
      outline-offset: -1px;
    }

  }

  &__option {}
}

.o-main-layout {
  margin: 20px;
}

.o-flex-container {
  display: flex;

  &__full {
    flex: 0 1 100%;

  }

  /* Modifiers */
  &--wrap {
    flex-wrap: wrap;
  }

  &--even {
    justify-content: space-evenly;
  }

  &--around {
    justify-content: space-around;
  }

  &--between {
    justify-content: space-between;
  }
}

.c-heading {
  font-family: "Covered By Your Grace", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  justify-content: space-around;
  padding: 15px;
  background: #2b2828;
  color: whitesmoke;
  box-shadow: 0px 3px 5px 2px #7b7485;
  margin-bottom: 20px;

  //display: none;

  @include med {
    //font-size: 1.25rem;
    flex-direction: row;
    justify-content: space-evenly;
  }

  @include lg {
    font-size: 2em;
    // justify-content: flex-start;
    justify-content: center;
    // padding: 1em 2em;
  }

  & * {
    //outline: 1px solid lime;
  }

  &__title {
    padding: 10px;

    @include lg {
      padding-left: 2em;
      text-shadow: 1px 1px 1px black, 2px 2px 2px deeppink;
    }
  }

  &__logo {
    width: 30%;
    // outline: 1px solid red;

    transition: color 200ms, width 200ms;

    @include med {
      width: 20%;
    }

    @include lg {
      width: 10%;
    }


    &:hover {
      color: #7b1010;
    }
  }
}

img {
  //display: none;
  width: 100%;
}

.c-buffy-quote {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;

  &__entry {
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(66, 66, 66, 0.25);
    //margin: 15px 15px 35px;
    margin-bottom: 35px;
    background-color: #efebef;
    box-shadow: 3px 3px 5px rgba(103, 52, 155, 0.1);

    @include med {
      flex-direction: row;
      justify-content: space-around;
    }

    @include lg {
      flex-direction: row-reverse;
    }


  }


  &__title {
    margin-top: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 1px 0 0 black, 0 -1px 0 0 black;

    @include med {
      box-shadow: none;
      @include background-svg($svg);
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain;
      padding-left: 60px;
    }

    @include lg {
      text-align: right;
      padding-left: auto;
      padding-right: 70px;
      background-position: right;
    }
  }

  &__img {
  }

  &__char {
    display: flex;
    flex-direction: column;

    @include med {
      flex: 0 0 35%;
      padding: 15px;
    }

    @include lg {
      flex-direction: column-reverse;
      justify-content: flex-end;

      .c-buffy-quote__entry:nth-child(odd) > & {
        order: 2;
      }
    }
  }

  &__quotes {

    @include med {
      flex: 1 1 auto;
    }

  }
}

.o-quotes {
  font-size: 1.5rem;

  @include med {
    font-size: 1rem;
  }

  &__item {
    padding: 10px;
    border: 1px solid rebeccapurple;
    margin-bottom: 20px;
    background-color: rgba(103, 52, 155, 0.25);
    transition: transform 200ms,
    box-shadow 200ms,
    background-color 200ms;
    transition-delay: 25ms;
    cursor: default;

    &:hover {
      transform: translate(-5px);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
      background-color: rgba(103, 52, 155, 0.35);
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

  &__text {
    // position: relative;
    // padding: 0 20px;
    line-height: 1.25;

    &::before,
    &::after {
      font-size: 1.5em;
      vertical-align: middle;

      // position: absolute;
    }

    &::before {
      content: "\201C";
      padding-right: 0.15em;
      // top: 0;
      // left: 0;
    }

    &::after {
      content: "\201D";
      padding-left: 0.1em;
      // bottom: 0;
      // right: 0;
    }
  }
  &__cite {
    font-size: 0.75em;
    color: #550f55;
    white-space: nowrap;
    display: block;
  }
}


.c-filter-selectors {
  padding: 10px;
}

.u-no-list {
  padding: 0;
  list-style-type: none;
}
