.o-label--left {
  padding-right: .45em; }

.o-form-fields {
  padding: 10px;
  margin: 0 0 25px; }
  .o-form-fields__title {
    margin-top: 0; }

.o-main-layout {
  margin: 20px; }

.o-flex-container {
  display: flex;
  /* Modifiers */ }
  .o-flex-container__full {
    flex: 0 1 100%; }
  .o-flex-container--wrap {
    flex-wrap: wrap; }
  .o-flex-container--even {
    justify-content: space-evenly; }
  .o-flex-container--around {
    justify-content: space-around; }
  .o-flex-container--between {
    justify-content: space-between; }

.u-no-list {
  padding: 0;
  list-style-type: none; }
