@import "scss/utils";

html {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

svg {
  display: inline-block;
  //#handle,
  //#top-swirl-right,
  //#top-swirl-left {
  //  display: none;
  //
  //  @include small {
  //    display: initial;
  //  }
  //}
}

img {
  width: 100%;
}
